# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env


# Excel
*.xlsx
*.xls
~$*.xlsx

# Temporary
*.log

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/
# Files
Laporan.txt
s11071-024-10414-3.pdf